@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Organizer.</h1>
    <h3>Start organizing your tasks by difficulty, importance, and urgency.</h3>
</div>
