@{
    ViewData["Title"] = "Enter a Task";
}
<!--Creating task form-->
@model Mission8.Models.TaskFormResponse
<br /><br />
            <center>
                <h1>Enter a Task Below:</h1>
                <br />
                <form method="post">
                    <label asp-for="TaskName" class="form-check-label">Task Name: </label>
                    <input asp-for="TaskName" /><br /><br />
                    <label asp-for="DueDate">Due Date: </label>
                    <input asp-for="DueDate" /><br /><br />
                    <label asp-for="Quadrant">Quadrant: </label>
                    <input asp-for="Quadrant" /><br /><br />
                    <label asp-for="CategoryID">Category: </label>
                    <select asp-for="CategoryID">
                        <option value="">Please Select a Category:</option>
                        @foreach (Category c in ViewBag.Category)
                        {
                            <option value="@c.CategoryID">@c.CategoryName</option>
                        }
                    </select><br /><br />
                    <label asp-for="Completed">Completed?</label>
                    <input type="checkbox" asp-for="Completed"/><br /><br />
                    <button type="submit">Submit Task</button>
                </form>
            </center>